.box{
    position: relative;
  animation-name: example;
  animation-duration: 4s;
  border-radius: 10px;
  object-fit: contain;
  background-repeat: no-repeat, repeat;
  
  
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:50px; top:0px;}
    50%  {left:50px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:0px; top:0px;}
  }